<div class='instruction-wrapper'>
  <div data-ui='typeToSearchMessage' class='instruction'>
    <div class='instruction-header'>
      {{i18n 'startTyping'}}
    </div>
    <div class='instruction-content'>
      {{i18n 'resultsWillAppearAsYouSearch'}}
    </div>
  </div>

  <div data-ui='searchingMessage' class='instruction is-showingSpinner'>
    <div class='instruction-header'>
      {{i18n 'searching'}}
    </div>
    <div data-region='spinner'></div>
  </div>

  <div data-ui='noResultsMessage' class='instruction'>
    <div class='instruction-header'>
      {{i18n 'noResultsFound'}}
    </div>
    <div class='instruction-content'>
      {{i18n 'trySearchingForSomethingElse'}}
    </div>
  </div>

  <div data-region='searchResults' class='flexColumn'></div>
</div>

<div class='contentBar contentBar--bottom u-bordered--top flexColumn-bugFix'>
  <div data-ui='playAllButton' class='button button--flat'>
    {{i18n 'playAll'}}
  </div>

  <div data-ui='addAllButton tooltipable' class='button button--flat'>
    {{i18n 'addAll'}}
  </div>

  <div data-ui='saveAllButton' class='button button--flat'>
    {{i18n 'saveAll'}}
  </div>
</div>