<section class='grouping'>
  <div class='grouping-header'>
    {{i18n 'applicationDetails'}}
  </div>

  <div class='grouping-content'>
    <ul>
      <li data-ui='openHomepage' class='grouping-item listItem listItem--small listItem--clickable'>
        {{i18n 'openHomepage'}}
      </li>
      <li data-ui='openPatchNotes' class='grouping-item listItem listItem--small listItem--clickable'>
        {{i18n 'openPatchNotes'}}
      </li>
      <li class='grouping-item version'>
        <div class='simpleListItem listItem listItem--medium'>
          <div class='listItem-content'>
            <div class='listItem-title'>
              {{i18n 'version'}}
            </div>

            <div class='listItem-details'>
              {{applicationDetails.version}}
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>