<section class='grouping'>
  <div class='grouping-header'>
    {{i18n 'general'}}
  </div>

  <div class='grouping-content'>
    <ul>
      <li data-region='openInTab' class='grouping-item listItem listItem--small listItem--clickable'></li>
      <li data-region='videoQuality' class='grouping-item'></li>
      <li data-region='layoutType' class='grouping-item'></li>
    </ul>
  </div>
</section>

<section class='grouping'>
  <div class='grouping-header'>
    {{i18n 'desktopNotifications'}}
  </div>
  <div class='grouping-content'>
    <ul>
      <li data-region='desktopNotificationsEnabled' class='grouping-item listItem listItem--small listItem--clickable'></li>
      <li data-region='desktopNotificationDuration' class='grouping-item'></li>
    </ul>
  </div>
</section>

<section class='grouping'>
  <div class='grouping-header'>
    {{i18n 'reminders'}}
  </div>
  <div class='grouping-content'>
    <ul>
      <li data-region='remindClearStream' class='grouping-item listItem listItem--small listItem--clickable'></li>
      <li data-region='remindDeletePlaylist' class='grouping-item listItem listItem--small listItem--clickable'></li>
      <li data-region='remindLinkAccount' class='grouping-item listItem listItem--small listItem--clickable'></li>
      <li data-region='remindGoogleSignIn' class='grouping-item listItem listItem--small listItem--clickable'></li>
    </ul>
  </div>
</section>

<section class='grouping'>
  <div class='grouping-header'>
    {{i18n 'contextMenus'}}
  </div>

  <div class='grouping-content'>
    <ul>
      <li data-region='showTextSelectionContextMenu' class='grouping-item listItem listItem--small'></li>
      <li data-region='showYouTubeLinkContextMenu' class='grouping-item listItem listItem--small'></li>
      <li data-region='showYouTubePageContextMenu' class='grouping-item listItem listItem--small'></li>
    </ul>
  </div>
</section>

<section class='grouping'>
  <div class='grouping-header'>
    {{i18n 'websiteEnhancements'}}
  </div>

  <div class='grouping-content'>
    <ul>
      <li data-region='enhanceYouTube' class='grouping-item listItem listItem--small listItem--clickable'></li>
      <li data-region='enhanceBeatport' class='grouping-item listItem listItem--small listItem--clickable'></li>
    </ul>
  </div>
</section>
