<div data-ui='menuButton' class='button button--icon button--icon--primary button--large'>
  <span>
    {{{settingsIcon}}}
  </span>
</div>

<div data-ui='menu' class='adminMenuArea-menu panel panel--detached appBar-panel'>
  <ul class='menu-items panel-content panel-content--fadeInOut panel-content--uncolored'>
    <li data-ui='settings' class='listItem listItem--small listItem--clickable'>
      <div class='listItem-content'>
        <div class='listItem-title'>
          {{i18n 'settings'}}
        </div>
      </div>
    </li>
    <li data-ui='keyboardShortcuts' class='listItem listItem--small listItem--clickable'>
      <div class='listItem-content'>
        <div class='listItem-title'>
          {{i18n 'keyboardShortcuts'}}
        </div>
      </div>
    </li>
    <li data-ui='openInTab' class='listItem listItem--small listItem--clickable'>
      <div class='listItem-content'>
        <div class='listItem-title'>
          {{i18n 'openInTab'}}
        </div>
      </div>
    </li>
    <li data-ui='aboutStreamus' class='listItem listItem--small listItem--clickable'>
      <div class='listItem-content'>
        <div class='listItem-title'>
          {{i18n 'aboutStreamus'}}
        </div>
      </div>
    </li>
    <li data-ui='reload' class='listItem listItem--small listItem--clickable'>
      <div class='listItem-content'>
        <div class='listItem-title'>
          {{i18n 'reload'}}
        </div>
      </div>
    </li>
  </ul>
</div>
